$primary: #180700;
$secondary: #907c6c;
$font-family-sans-serif: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif !default;
$headings-font-family: "Playfair Display", serif !default;

.bg-image {
  background-image: url("../images/bannerInicial.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 100vh; /* opcional */
}

.navbar-nav {
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: #907c6c;
  --bs-nav-link-hover-color: #907c6c;
  --bs-nav-link-disabled-color: #221e1a;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #180700;
  background-color: #907c6c;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";