/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Corpo da Pagina*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    color: #333;
    padding: 20px;
}

/*Jogo Adivinhacao*/
.jogoAdvinhacao {
    background: rgba(156, 156, 156, 0.4);
    color: white;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.jogoAdvinhacao h1 {
    color: white;
    margin-bottom: 10px;
}

.jogoAdvinhacao img {
    max-width: 20%;
}

.jogoAdvinhacao input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 100px;
    border: none;
}

.jogoAdvinhacao p {
    margin-bottom: 10px;
}

.jogoAdvinhacao button {
    padding: 10px;
    border-radius: 100px;
    border: none;
    font-size: large;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.jogoAdvinhacao button:hover {
    background-color: green;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}